@model Captivate.Interfaces.Entities.CourseType

@{
    ViewBag.Title = "EditCourseType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Edit Course Type</h4>

@using (Html.BeginForm("EditCourseType", "CourseType", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Course_Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Course_Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Course_Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <button class="waves-effect waves-light btn-small">@Html.ActionLink("Back", "RedirectToCourseTab", null, new { @class = "page-nav" })</button>
</div>
